intake
hvplot
pillow
scikit-image
exifread
matplotlib
numpy
scipy
scikit-learn
pandas
fsspec
pyyaml
requests
aiohttp
git+https://github.com/alan-turing-institute/scivision@dsg-dec-2021
azureml-core
git+https://github.com/ots22/intake-xarray@feature/exif
geopandas
folium
mapclassify